%h1 Import

%p <b>Import Started:</b> #{@import.created_at}
%p <b>Stripe Account:</b> #{@import.stripe_account}
%p <b>FreeAgent Account:</b> #{@import.freeagent_account}

%pre#log_content= simple_format @import.log